/* SignUp */
body{
    background-color: #f0eeee;
    height: 100vh;
}
.primary_button {
    text-transform: none !important;
    background-color: rgb(12, 12, 101) !important;
    color: #ffffff !important;
<<<<<<< HEAD
    padding: 8px 1px !important;
    cursor: pointer;
}
.container{
  padding: 10px 30px;
}
.buttonContainer {
  display:flex;
  justify-content: space-between;
}
=======
} 


>>>>>>> 658a5d86fb9b60f4b37251412fc13d448935d523

.register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 340px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 6px 20px 0px #d2d2d2;
}
.header_title{
    font-size: 32px;
    font-weight: 600;
}

<<<<<<< HEAD
.signUp{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
=======
.signIn{
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
    text-shadow: 2px 2px 5px red;
>>>>>>> 658a5d86fb9b60f4b37251412fc13d448935d523
}
.forgot_password {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
    
}
.forgot{
    cursor: pointer;
    color: var(--primary_color);
}
.MuiTextField-root{
    width: 100% !important;
}

.account{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

/*  Sidebar */

  .menu-item {
    margin-bottom: 10px;
  }
  
  .menu-link {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .menu-link:hover {
    background-color: #6b5c0b;
  }
  
  .menu-label {
    margin-left: 10px;
    font-size: 14px;
  }
  
  .menu-link.active {
    background-color: #7d4f0a; 
  }

  .logo {
    height:60px;
    display:flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
    cursor: pointer;
  }
<<<<<<< HEAD

  /* Search */
  .search{
    width:fit-content !important;
  }
  .dialogTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
=======
>>>>>>> 658a5d86fb9b60f4b37251412fc13d448935d523
  /* Layout */

  .layout {
    height: 100vh; 
    display: flex;
  }
  
  .main-container {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 260px;
    background-color: var(--primary_color);
    color: white;
    padding: 10px;
  }
  
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dashboard {
    flex: 1; 
    padding: 20px;
    background-color: #f4f4f4;
<<<<<<< HEAD
  }

  .MuiTableCell-root
  {
    padding: 8px 0px !important;
=======
>>>>>>> 658a5d86fb9b60f4b37251412fc13d448935d523
  }